div.visualizer {
    padding: 30px;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

div.packet-container {
    flex: 1 0 auto;
    height: 578px;
}

h1.visualizer-title {
    flex: 0 1 auto;
    padding: 20px;
}