h1.oops {
    margin: 20px 40px;
    font-size: 800%;
}

h1.not-found {
    margin: 0px 40px;
    
}

div.errors{
    color: whitesmoke;
}

p.error-reason{
    margin: 0px 40px;
    font-size: 200%;
}

p.error404{
    margin: 0px 40px;
    color: red;
}

p.links{
    margin: 0px 40px;
}

img{
    width: 100px;
    height: auto;
    margin: 0px 350px;
}

div.space {
    width: 20px;
    height: auto;
    display: inline-block;
    
}

a.link{
    margin: 0px 40px;
}