.page {
    position:relative;
    height: 100vh; 
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page::before {
    content: "";
    background-image: url('../type/tankImage.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.16;
}

.task-title h1{
    position: relative;
    text-align: center;
    bottom: 200px;
    left: 550px
    
    
}

.task-buttons {
    position: relative;
    margin: 30px 0px;
    right: 100px;
    width: 65%;
}

.task-buttons .btn-primary, .task-buttons .btn-primary:hover, .task-buttons.btn-primary:active, .task-buttons .btn-primary:visited {
    position: relative;
    background-color:#1c7e92  !important;    
    color: white !important;
    border-color: #1c7e92 !important;
    padding: 20px;
    font-size: 26px;
    margin: 4px 2px;
    width:30%;
    border-radius: 100px;
    
}


.task-buttons .space {
    position: relative;
    width: 30px;
    height: auto;
    display: inline-block;
    
}

.fa.fa-folder, .fa.fa-superpowers, .fa.fa-car{
    padding-right: 10px;
}






