
div.task {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100vh;
    width:100vw;
}

h1.task-title {
    margin: 100px 0px;
    text-align: center;
}

div.task-buttons {
    margin: 30px 0px;
    text-align: center;
    
    
}

.task-buttons .btn-primary, .task-buttons .btn-primary:hover, .task-buttons.btn-primary:active, .task-buttons .btn-primary:visited {
    background-color:#1c7e92  !important;
    color: white !important;
    border-color: #1c7e92 !important;
    padding: 20px;
    font-size: 30px;
    margin: 4px 2px;
    width:30%
    
}


div.task-buttons .space {
    width: 30px;
    height: auto;
    display: inline-block;
    
}
