div.task {
    margin: 0px 40px;
}

h1.task-title {
    margin: 100px 0px;
    text-align: center;
}

div.task-buttons {
    margin: 30px 0px;
    text-align: center;
    
    
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:grey !important;
    color: white !important;
    border-color: grey !important;
}

div.task-buttons .space {
    width: 30px;
    height: auto;
    display: inline-block;
    
}